[submodule "visuals/PowerBI-visuals-AsterPlot"]
	path = visuals/PowerBI-visuals-AsterPlot
	url = https://github.com/AleksSavelev/PowerBI-visuals-AsterPlot.git
[submodule "visuals/PowerBI-visuals-tornado"]
	path = visuals/PowerBI-visuals-tornado
	url = https://github.com/AleksSavelev/PowerBI-visuals-tornado
[submodule "visuals/PowerBI-visuals-timeline"]
	path = visuals/PowerBI-visuals-timeline
	url = https://github.com/AleksSavelev/PowerBI-visuals-timeline
[submodule "visuals/PowerBI-visuals-wordcloud"]
	path = visuals/PowerBI-visuals-wordcloud
	url = https://github.com/AleksSavelev/PowerBI-visuals-wordcloud
