[submodule "visuals/PowerBI-visuals-AsterPlot"]
	path = visuals/PowerBI-visuals-AsterPlot
	url = https://github.com/AleksSavelev/PowerBI-visuals-AsterPlot.git
[submodule "visuals/PowerBI-visuals-WordCloud"]
	path = visuals/PowerBI-visuals-WordCloud
	url = https://github.com/AleksSavelev/PowerBI-visuals-WordCloud.git
[submodule "visuals/PowerBI-visuals-Tornado"]
	path = visuals/PowerBI-visuals-Tornado
	url = https://github.com/AleksSavelev/PowerBI-visuals-Tornado.git
[submodule "visuals/PowerBI-visuals-timeline"]
	path = visuals/PowerBI-visuals-timeline
	url = https://github.com/AleksSavelev/PowerBI-visuals-timeline.git
