[submodule "visuals/powerbi-visuals-asterplot"]
	path = visuals/powerbi-visuals-asterplot
	url = https://github.com/alekssavelev/powerbi-visuals-asterplot.git
[submodule "visuals/powerbi-visuals-tornado"]
	path = visuals/powerbi-visuals-tornado
	url = https://github.com/alekssavelev/powerbi-visuals-tornado
[submodule "visuals/powerbi-visuals-timeline"]
	path = visuals/powerbi-visuals-timeline
	url = https://github.com/alekssavelev/powerbi-visuals-timeline
[submodule "visuals/powerbi-visuals-wordcloud"]
	path = visuals/powerbi-visuals-wordcloud
	url = https://github.com/alekssavelev/powerbi-visuals-wordcloud
